*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body,
textarea,
input {
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  font-family: "poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* General Classes start */

.container {
  max-width: 1324px;
  margin: 0 auto 0 auto;
}

.general-btn {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.55px;
  text-transform: uppercase;
  color: #000;
  background-color: #dde22f;
}

/* General Classes End */

/* Header start */

header {
  position: relative;
}

header .navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 57px 0;
}

.navbar .navbar-brand {
  height: 110px;
}

.navbar .navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 45px;
}

.navbar-nav .nav-link {
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.navbar-nav .dropdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.navbar-nav .dropdown-link img {
  transition: transform 0.5s ease-in-out;
}

.navbar-nav .dropdown-link:hover img {
  transform: translatey(5px);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #fff;
}

.navbar-nav .sign-in {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.navbar-nav .sign-in img {
  transition: transform 0.5s ease-in-out;
}

.navbar-nav .sign-in:hover img {
  transform: translateX(-5px);
}

.navbar-nav .nav-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.nav-btn .top-up-btn {
  padding: 21px 51px;
  color: #000;
}

.nav-btn .sim-btn {
  padding: 21px 51px;
  background-color: #064f92;
  color: #fff;
  border-radius: 6px;
}

/* Header end */

/* Banner start */

.banner {
  background-image: url("/src/images/banner-image.png");
  background-size: cover;
  background-position: 0 57px;
  background-repeat: no-repeat;
  background-color: #2096d3;
  padding: 317px 0 217px 0;
}

.banner .banner-content {
  text-align: center;
  max-width: 730px;
  margin: 0 auto;
  color: #fff;
}

.banner-content span {
  font-size: 35px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 44px;
}

.banner-content h1 {
  font-size: 88px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 49px;
}

.banner-content p {
  font-size: 23px;
  font-weight: 400;
  line-height: 50.5px;
  max-width: 569px;
  margin: 0 auto 49px auto;
}

.banner-content .banner-btn {
  padding: 22px 44px;
  border-radius: 6px;
}

/* Banner End */

/* content start */

/* Top up start */

.top-up {
  position: relative;
  width: 100%;
}

.top-up .top-up-inner {
  position: relative;
  padding: 29px 54px 32px;
  background: #ffffff;
  width: 100%;
  max-width: 1348px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: -70px auto 0 auto;
}

.top-up-inner .fast-top-up-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  font-size: 29px;
  font-weight: 600;
  line-height: normal;
  color: #064f91;
}

.top-up-inner .top-up-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.top-up-form .credit-choice {
  display: inline-flex;
  gap: 18px;
}

.credit-choice .credit-choice-btn {
  position: relative;
}

.credit-choice-btn input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.credit-choice-btn label {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: #000;
  min-width: 60px;
  min-height: 60px;
  background-color: #ffffff;
  border: solid 2px #cccccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.credit-choice-btn input[type="radio"]:checked + label {
  background-color: #064f92;
  color: #ffffff;
  font-weight: 900;
  transition: 0.3s;
}

.top-up-form .form-phone input {
  background-color: #ffffff;
  border: 2px solid #cccccc;
  padding: 17px 25px;
  max-width: 360px;
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
  border-radius: 4px;
  color: #000000;
}

.top-up-form .form-phone input:focus {
  background: none;
  box-shadow: none;
  border: none;
}

.top-up-form .form-btn .desktop-btn {
  padding: 21px 40px;
  border-radius: 4px;
}

.mobile-btn {
  display: none;
}

/* Top up End */

/* Mobile bill start */

.mobile-bill {
  padding: 130px 0;
}

.mobile-bill .mobile-bill-inner {
  text-align: center;
}

.mobile-bill-inner .mobile-bill-heading {
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 70.7px;
  color: #353535;
  max-width: 737px;
  margin: 0 auto 26px auto;
}

.mobile-bill-inner .mobile-bill-point {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 34px;
  color: #535353;
  max-width: 802px;
  margin: 0 auto 0 auto;
}

.mobile-bill-inner .mobile-bill-card {
  padding: 80px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.mobile-bill-card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card-content h3 {
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #000;
  margin: 27px 0 21px 0;
}

.card-content p {
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  color: #535353;
  max-width: 365px;
  margin: 0 auto;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Mobile bill end */

/* your sim start */

.your-sim {
  background-color: #064f92;
  padding: 23px 0;
}

.your-sim .your-sim-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.your-sim-inner .your-sim-content {
  color: #fff;
}

.your-sim-content p {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  padding-top: 30px;
}

.your-sim-content h3 {
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 58.4px;
  padding-top: 20px;
}

.your-sim-content h3 span {
  color: #dde22f;
}

.your-sim-inner .your-sim-btn {
  padding: 19px 40px;
  border-radius: 4px;
}

/* your sim end */

/* Borderless start */

.borderless {
  padding: 90px 0;
  background-color: #dcf2fb;
}

.borderless-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.borderless-inner .borderless-content {
  max-width: 533px;
}

.borderless-content h2 {
  font-size: 43px;
  font-style: normal;
  font-weight: 600;
  line-height: 52.556px;
  color: #353535;
  margin-bottom: 44px;
}

.borderless-content p {
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height: 33.998px;
  color: #535353;
  margin-bottom: 49px;
}

.borderless-content .borderless-btn {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.65px;
  text-transform: uppercase;
  color: #000;
  padding: 20px 56px;
}

.borderless-inner .borderless-video {
  background-image: url(/src/images/borderless-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 600px;
  padding: 180px 0;
  text-align: center;
}

.borderless-video .video-btn {
  width: 80px;
  height: 80px;
  background-color: #fff;
  padding: 29px 29px 29px 32px;
}

/* Borderless end */

/* Customers start */

.customers {
  padding: 110px 0;
  background-color: #f5f5f5;
}

.customers .customers-content {
  text-align: center;
  max-width: 833px;
  margin: 0 auto;
}

.customers-content h2 {
  font-size: 43px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #353535;
  margin-bottom: 30px;
}

.customers-content p {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #535353;
}

.customers .review-card {
  margin-top: 94px;
}

.review-card .review-card-content {
  padding: 43px 37px;
  background-color: #ffffff;
  border-radius: 12px;
  max-width: 100%;
}

.review-card-content p {
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 31.999px;
  color: #535353;
  margin: 15px 0 31px 0;
}

.review-card-content .profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.profile img {
  max-width: 78px;
}

.profile span {
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
}

/* Customers end */

/* FAQ start */

.faq {
  padding: 100px 0;
}

.faq .faq-content {
  text-align: center;
  max-width: 737px;
  margin: 0 auto;
}

.faq-content h2 {
  font-size: 43px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #353535;
  margin-bottom: 36px;
}

.faq-content p {
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height: 33.998px;
  color: #535353;
}

.faq .accordion {
  max-width: 1096px;
  margin: 66px auto 0 auto;
}

.faq .accordion-item {
  margin-bottom: 31px;
  border: none;
}

.faq .accordion-item .accordion-button {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important; /* removes the subtle inset shadow */
}

.accordion-button:focus {
  box-shadow: none;
  background-color: #ffffff;
}

.faq .accordion-item .accordion-body {
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 33.998px;
  color: #535353;
}

.accordion-button::after {
  content: "+";
  background: none;
  transform: none !important;
  transition: none !important;
}

.accordion-button:not(.collapsed)::after {
  content: "–";
  background: none;
  transform: none !important;
}

/* FAQ end */

/* content end */

/* Footer start */

footer {
  padding: 94px 0 54px 0;
  background-color: #273240;
  color: #ffffff;
}

footer .footer-row {
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
}

.footer-row .footer-links-heading {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 34px;
  color: #dde22f;
}

.footer-row ul li a {
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 34.3px;
  opacity: 0.8;
}

.footer-row ul li a:hover {
  color: #dde22f;
  transition: all 0.3s ease;
}

footer .footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 44px;
}

.footer-bottom .footer-bottom-links {
  display: inline-flex;
  gap: 20px;
}

.footer-bottom-links li a {
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footer-bottom ul li a:hover {
  color: #e22fdd;
  transition: all 0.3s ease;
}

.footer-bottom .footer-social-icon {
  display: inline-flex;
  gap: 30px;
}

.footer-social-icon li a {
  font-size: 23px;
}

.footer-social-icon li a:hover {
  color: #dde22f;
  transition: all 0.3s ease;
}

.footer-bottom .copyright {
  margin-top: 30px;
}

.copyright p {
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* Footer end */

#backToTopBtn {
  position: fixed;
  bottom: 64px;
  right: 34px;
  outline: none;
  display: none; /* Hidden by default */
  z-index: 99;
  transition: opacity 0.3s ease;
  background-color: #dde22f;
  border-radius: 50%;
  padding: 29px 25px;
}

/* Responsive start Desktop first  */

@media only screen and (max-width: 1440px) {
  /* Header start */

  .navbar .navbar-nav {
    gap: 35px;
  }

  /* Header end */
}

@media only screen and (max-width: 1320px) {
  /* Header start */

  .navbar .navbar-nav {
    gap: 32px;
  }

  /* Header end */

  /* Banner start */

  .banner {
    padding: 299px 0 199px 0;
  }

  .banner-content span {
    font-size: 32px;
  }

  .banner-content h1 {
    font-size: 82px;
    margin-bottom: 32px;
  }

  .banner-content p {
    font-size: 21px;
  }

  /* Banner end */

  /* Top up start */

  .top-up .top-up-inner {
    padding: 26px 48px 29px;
  }

  .top-up-inner .top-up-form {
    gap: 21px;
  }

  /* Top up end */

  /* Mobile bill start */

  .mobile-bill {
    padding: 112px 0 90px 0;
  }

  .mobile-bill-inner .mobile-bill-heading {
    font-size: 42px;
    margin: 0 auto 22px auto;
  }

  .mobile-bill-inner .mobile-bill-point {
    font-size: 19px;
  }

  .mobile-bill-inner .mobile-bill-card {
    padding: 80px 10px 20px 10px;
  }

  .mobile-bill-card .card-content {
    margin-bottom: 32px;
  }

  /* Mobile bill end */

  /* Customer start */

  .customers {
    padding: 90px 0;
  }

  .customers .review-card {
    padding: 0 20px;
  }

  .review-card .review-card-content {
    padding: 37px 29px;
  }

  .review-card-content p {
    margin: 15px 0 25px 0;
  }

  .profile img {
    max-width: 69px;
  }

  /* Customer end */
}

@media only screen and (max-width: 1199px) {
  /* Header start */

  .navbar .navbar-nav {
    gap: 12px;
  }

  .navbar-nav .nav-link {
    font-size: 16px;;
}

  /* Header end */

  /* Banner start */

  .banner {
    padding: 259px 0 169px 0;
  }

  .banner-content span {
    font-size: 25px;
  }

  .banner-content h1 {
    font-size: 72px;
    margin-bottom: 22px;
  }

  .banner-content p {
    font-size: 20px;
  }

  /* Banner end */

  /* Top up start */

  .top-up .top-up-inner {
    padding: 29px 34px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .top-up-inner .fast-top-up-icon {
    margin-bottom: 40px;
  }

  .top-up-inner .top-up-form {
    gap: 18px;
  }

  .top-up-form .credit-choice {
    gap: 14px;
  }

  /* Top up end */

  /* Mobile bill start */

  .mobile-bill {
    padding: 90px 0;
  }

  .mobile-bill-inner .mobile-bill-heading {
    font-size: 39px;
    line-height: 64.7px;
    margin: 0 auto 22px auto;
  }

  .mobile-bill-inner .mobile-bill-point {
    font-size: 18px;
    line-height: 32px;
  }

  /* Mobile bill end */

  /* Borderless start */

  .borderless {
    padding: 79px 0;
  }

  .borderless-content h2 {
    font-size: 39px;
    margin-bottom: 38px;
  }

  .borderless-inner .borderless-video {
    padding: 154px 0;
  }

  /* Borderless end */

  /* Customer start */

  .customers {
    padding: 90px 0;
  }

  .customers-content h2 {
    font-size: 39px;
    margin-bottom: 20px;
  }

  .customers .review-card {
    margin-top: 72px;
  }

  /* Customer end */

  /* FAQ start */

  .faq {
    padding: 90px 0;
  }

  .faq-content h2 {
    font-size: 39px;
    margin-bottom: 20px;
  }

  /* FAQ end */
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
}

@media only screen and (max-width: 360px) {
}

/* Responsive end */
